<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Utama</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>  
    <div class="container mx-auto">
        <nav class="flex items-center justify-between py-5">
            <a href="/" class="font-bold">NGITENG</a>
            <div class="nav-menu">
                <a href="">Testing</a>
                <a href="">About</a>
                <a href="">Contact</a>
                <a href="">Profile</a>
            </div>
            <div class="auth-menu">
                <a href="" class="py-2 px-5 border rounded mx-2">Login</a>
                <a href="" class="py-2 px-5 bg-yellow-600 rounded text-white">Register</a>
            </div>
        </nav>
    </body>
    </div>
</html>
