<%- include('template/header') %>

    <main class="sm:mt-28 mt-10 desktop:container">
        <!-- hero section -->
        <section class="flex items-center justify-between">
            <div class="flex-1 md:px-[30px] px-5">
                <h1 class="font-poppins text-primary text-xl sm:text-3xl lg:text-6xl">Kuasai Keuangan Pribadi Anda dan Raih Kebebasan Finansial</h1>
                <img src="/assets/img_hero.png" class="md:hidden mt-5">
                <p class="font-inter my-5 md:my-11 text-gray-700 text-sm md:text-[16px] lg:text-xl">Mengelola keuangan dengan bijak dan efektif adalah langkah pertama menuju kebebasan finansial. Di sini, kami hadir untuk membantu Anda menguasai seni pengelolaan keuangan pribadi dan menggapai tujuan finansial Anda.
                </p>
                <a href="" class="bg-secondary rounded-[10px] inline-block text-white font-jakartaSans py-2 px-6 text-sm">Mulai Catat Keuangan</a>
            </div>
            <div class="flex-1 hidden md:block">
                <img src="/assets/img_hero.png">
            </div>
        </section>
        <!-- IMon section -->
        <section class="md:mt-40 mt-12 md:px-[30px] px-5">
            <div class="title text-center">
                <h1 class="text-primary md:text-5xl text-xl font-poppins">IMon Untuk Masa Depan Anda</h1>
                <span class="block md:w-44 w-20 md:h-2 h-1 bg-secondary rounded mx-auto mt-5"></span>
            </div>
            <div class="flex justify-center md:space-x-4 mt-10 flex-wrap">
                <div class="md:flex-1 text-center flex items-center flex-col mt-10">
                    <img src="/assets/icon1.png" alt="fitur1">
                    <h2 class="md:my-14 my-4 font-poppins md:text-3xl text-[16px]">Mudah Digunakan</h2>
                    <p class="font-jakartaSans md:text-[16px] text-sm text-gray-700">Desain website kami intuitif, navigasi yang mudah dipahami memastikan pengunjung merasa nyaman dan mudah menemukan informasi yang mereka butuhkan.</p>
                </div>
                <div class="md:flex-1 text-center flex items-center flex-col mt-10">
                    <img src="/assets/icon2.png" alt="fitur1">
                    <h2 class="md:my-14 my-4 font-poppins md:text-3xl text-[16px]">Fitur Yang Lengkap</h2>
                    <p class="font-jakartaSans md:text-[16px] text-sm text-gray-700">IMon mencakup pengelolaan anggaran, investasi, pengelolaan utang, hingga perencanaan pensiun.</p>
                </div>
                <div class="md:flex-1 text-center flex items-center flex-col mt-10">
                    <img src="/assets/icon3.png" alt="fitur1">
                    <h2 class="md:my-14 my-4 font-poppins md:text-3xl text-[16px]">Pembaruan Teratur</h2>
                    <p class="font-jakartaSans md:text-[16px] text-sm text-gray-700">Memperbarui konten kami untuk perkembangan terbaru dalam pengelolaan keuangan.</p>
                </div>
            </div>
        </section>

        <!-- Financial section -->
        <section class="md:mt-32 mt-24 md:px-12 px-5">
            <div class="title text-center">
                <h1 class="text-primary md:text-5xl text-xl font-poppins">Kebebasan Finansial Untuk Anda</h1>
            </div>
            <div class="flex justify-center md:space-x-4 md:mt-24 flex-wrap text-justify">
                <div class="md:flex-1 flex md:justify-between flex-col">
                    <div class="mt-9 md:mt-0">
                        <h2 class="text-primary font-poppins md:text-3xl text-[16px]">Investasi</h2>
                        <p class="font-jakartaSans md:text-[16px] text-sm text-gray-700 md:mt-5 mt-3">Membantu pengguna dalam mengelola dan mengoptimalkan portofolio investasi mereka</p>
                    </div>
                    <div class="mt-9 md:mt-0">
                        <h2 class="text-primary font-poppins md:text-3xl text-[16px]">Pengelolaan Anggaran</h2>
                        <p class="font-jakartaSans md:text-[16px] text-sm text-gray-700 md:mt-5 mt-3">Pengelolaan anggaran yang membantu pengguna dalam merencanakan, melacak, dan mengelola keuangan pribadi mereka dengan efektif.</p>
                    </div>
                </div>
                <div class="md:flex-1 hidden md:block">
                    <img src="/assets/finansial.png" alt="iphone" class="scale-125">
                </div>
                <div class="md:flex-1 flex md:justify-between flex-col">
                    <div class="md:text-right mt-9 md:mt-0">
                        <h2 class="text-primary font-poppins md:text-3xl text-[16px]">Pengelolaan Hutang</h2>
                        <p class="font-jakartaSans md:text-[16px] text-sm text-gray-700 md:mt-5 mt-3">Menyediakan fitur pengelolaan hutang yang membantu pengguna dalam mengatur dan melacak hutang mereka</p>
                    </div>
                    <div class="md:text-right mt-9 md:mt-0">
                        <h2 class="text-primary font-poppins md:text-3xl text-[16px]">Perencanaan Pensiun</h2>
                        <p class="font-jakartaSans md:text-[16px] text-sm text-gray-700 md:mt-5 mt-3">Menyediakan fitur pengelolaan hutang yang membantu pengguna dalam mengatur dan melacak hutang mereka</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- investasi section -->
        <section class="md:mt-32 mt-16 md:px-12 px-5">
            <h1 class="text-primary md:text-4xl text-xl font-poppins">Jadi Ahli Investasi</h1>
            <p class="text-gray-700 md:text-[16px] text-sm font-jakartaSans mt-3">Asah pengertian investasi hingga tujuan investasi kamu. Dapatkan analisis investasi dari ahli keuangan secara langsung.</p>
            <div class="flex items-center sm:justify-between md:mt-10 flex-col sm:flex-row sm:space-x-4">
                <div class="mt-10 md:mt-0 w-fit">
                    <img src="/assets/investasi1.png" alt="investasi1">
                    <h3 class="font-poppins text-sm md:text-[16px] mt-2 md:mt-4">Mengenal Macam - Macam Investasi</h3>
                    <p class="text-[12px] font-poppins text-gray-400">IMon 7 Mei 2023</p>
                </div>
                <div class="mt-10 md:mt-0">
                    <img src="/assets/investasi2.png" alt="investasi2">
                    <h3 class="font-poppins text-sm md:text-[16px] mt-2 md:mt-4">Investasi Masa Kini Untuk Masa Depan</h3>
                    <p class="text-[12px] font-poppins text-gray-400">IMon 7 Mei 2023</p>
                </div>
                <div class="mt-10 md:mt-0">
                    <img src="/assets/investasi3.png" alt="investasi3">
                    <h3 class="font-poppins text-sm md:text-[16px] mt-2 md:mt-4">Cara Memilih Saham Untuk Pemula</h3>
                    <p class="text-[12px] font-poppins text-gray-400">IMon 7 Mei 2023</p>
                </div>
            </div>
            <div class="flex bg-primary mt-11 rounded-[20px] lg:h-96 overflow-hidden">
                <div class="p-5 md:p-12 lg:flex-2">
                    <h1 class="text-white text-xl md:text-5xl font-jakartaSans">Mulai Kelola Keuangan Anda</h1>
                    <p class="font-jakartaSans text-white text-[12px] md:text-[16px] mt-5">Bebaskan Diri Anda dari Beban Finansial dan Rencanakan Masa Depan Anda</p>
                    <a href="" class="bg-secondary rounded-[10px] inline-block mt-10 text-white font-jakartaSans py-2 px-6 text-[12px] md:text-sm">Mulai Catat Keuangan</a>
                </div>
                <div class="hidden lg:block lg:flex-1 ml-[100px] p-12 relative before:content-[''] before:w-[149px] before:h-[149px] before:border before:absolute before:rounded-full before:-left-8 before:top-10 after:content-[''] after:w-[100px] after:h-[100px] after:border after:absolute after:rounded-full after:-right-20 after:bottom-0">
                    <img src="/assets/iphon.png" alt="iphon" class="w-[260px] absolute z-10">
                </div>
            </div>
        </section>
    </main>
 
<%- include('template/footer') %>
