<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Utama</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>  
    <div class="container mx-auto">
        <nav class="flex items-center justify-between py-5">
            <a href="/" class="font-bold">NGITENG</a>
            <div class="nav-menu space-x-4">
                <a href="" class="">Product</a>
                <a href="">About</a>
                <a href="">Contact</a>
                <a href="">Profile</a>
            </div>
            <div class="auth-menu">
                <a href="" class="py-2 px-5 border rounded mx-2">Login</a>
                <a href="" class="py-2 px-5 bg-yellow-600 rounded text-white">Register</a>
            </div>
        </nav>
        <div class="mx-auto w-96 h-80 bg-gradient-to-br backdrop-blur-lg from-blue-500 to-green-500 rounded-lg mt-10 shadow-xl"></div>

        <button class="bg-sky-400 mx-auto block rounded-full py-1 px-4 mt-40 text-white hover:bg-sky-700 hover:shadow-slate-900 hover:shadow-md active:bg-sky-700 focus:ring-red-900 focus:ring-2 focus:outline-none">submit</button>
    </div>

</body>
</html>
