<%- include('template/header') %>

<main class="desktop:container flex mt-16 md:mt-28 justify-between">
    <div class="lg:flex-2 flex-1 px-5 md:px-[30px]">
        <h1 class="text-primary font-poppins text-3xl lg:text-5xl">Selamat Datang</h1>
        <p class="font-poppins text-sm lg:text-lg text-[#959191] mt-4">Mari bergabung bersama kami, silahkan isi data diri anda</p>

        <form action="/auth/register" class="mt-10 max-w-[600px]" method="post">
            <div class="text-sm lg:text-lg">
                <label for="nama" class="font-poppins">Nama</label>
                <input type="text" name="nama" id="nama" class="mt-3 w-full p-5 border border-slate-400 rounded-xl focus:outline-none font-poppins" placeholder="Masukan nama anda" required>
            </div>
            <div class="mt-5 text-sm lg:text-lg">
                <label for="email" class="font-poppins">Email</label>
                <input type="email" name="email" id="email" class="mt-3 w-full p-5 border border-slate-400 rounded-xl focus:outline-none font-poppins" placeholder="Enter your email" required>
            </div>
            <div class="mt-5 text-sm lg:text-lg">
                <label for="pass" class="font-poppins">Kata Sandi</label>
                <input type="password" name="pass" id="pass" class="mt-3 w-full p-5 border border-slate-400 rounded-xl focus:outline-none font-poppins" placeholder="**********" required>
            </div>

            <button type="submit" class="bg-secondary text-white py-4 w-full rounded-lg font-jakartaSans text-lg lg:text-2xl mt-10">Daftar</button>
            <p class="mt-5 font-poppins text-sm lg:text-[16px] text-[#595959]">Sudah punya akun? <a href="/auth/login" class="text-secondary">Masuk</a></p>
        </form>

    </div>
    <div class="flex-1 hidden md:block">
        <img src="/assets/female-hand-holding.png" alt="hand-holding.png" class="md:translate-x-16 lg:translate-x-0">
    </div>
</main>

<%- include('template/footer') %>